<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | groovecoder</title>
  <link rel="stylesheet" type="text/css" media="all" href="/zbench/style.css" />
  <script type='text/javascript' src='/js/jquery/jquery.js?ver=1.11.1'></script>
  <script type='text/javascript' src='/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
  <link rel='canonical' href="https://groovecoder.com{{ page.url }}" />
</head>
<body class="single single-post single-format-standard">
<div id="nav">
  <div class="nav-inside">
    <div id="menus">
      <ul id="menus-dt" class="menus-dt">
        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/" >About</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="https://speakerdeck.com/groovecoder/" >Presentations</a></li>
      </ul>
      <ul id="menus-m" class="menus-m">
        <li>Menu</li>
      </ul>
    </div>
  </div>
</div>
<div id="header">
    <div class="site_title">
    <h1><a href="/">groovecoder</a></h1>
    <h2>203 Non-Authoritative Information</h2>
    <div class="clear"></div>
  </div>
  </div>
<div id="wrapper">
<div id="content">
  <div class="post-1223 post type-post status-publish format-standard hentry category-mdn post-single" id="post-1223"><!-- post div -->
  <h2 class="title">{{ page.title }}</h2>
    <div class="post-info-top">
      <span class="post-info-date">
          Posted by <a href="/author/{{ page.author.login }}/" title="View all posts by {{ page.author.login }}" rel="author">{{ page.author.login }}</a>
          on        {{ page.date|date_to_string }}             </span>
    </div>
    <div class="clear"></div>
    <div class="entry">

{{ content }}

    </div><!-- END entry -->
    <div class="add-info">
          </div>
    <div class="post-info-bottom">
      {% for category in page.categories %}
      <span class="post-info-category">
          <a href="/category/{{ category }}" rel="category tag">{{ category }}</a>
      </span>
      <span class="post-info-tags"></span>
      {% endfor %}
    </div>
    <div id="nav-below">
      {% if page.previous %}
      <div class="nav-previous"><a href="{{ page.previous.url }}" rel="prev"><span class="meta-nav">&larr;</span> {{ page.previous.title }}</a></div>
      {% endif %}
      {% if page.next %}
      <div class="nav-next"><a href="{{ page.next.url }}" rel="prev">{{ page.next.title }} <span class="meta-nav">&rarr;</span></a></div>
      {% endif %}
    </div><!-- #nav-below -->         
  </div><!-- END post -->
  <!-- You can start editing here. -->


    <ol class="commentlist" id="thecomments">
        {% for comment in page.comments %}
        <li class="comment even thread-even depth-1" id="li-comment-{{ comment.id }}">
        <div id="comment-{{ comment.id }}">
            <div class="comment-author vcard">
                <img alt='' src="https://www.gravatar.com/avatar/ec25d046746de3be33779256f6957d8f?size=200" class='avatar avatar-40 photo' height='40' width='40' />     <cite class="fn"><a href="{{ comment.author.url }}" rel='external nofollow' class='url'>{{ comment.author }}</a></cite>
                <span class="comment-meta commentmetadata"><a href="{{ page.url }}#comment-{{ comment.id }}">{{comment.date|datetostring}}</a></span>
            </div>
            <div class="comment-text">
                {{ comment.content }}
            </div>
        </div>
        </li>
        {% endfor %}
    </ol>
    </div><!--content-->
<div id="sidebar-border">
  <div id="rss_border">
    <div class="rss_border">
      <div id="rss_wrap">
        <div class="rss_wrap">
                    <a class="twitter" href="https://x.com/groovecoder" rel="author" title="Follow me on twitter.">Follow me on twitter.</a>
                              <a style="background:url(https://github.com/favicon.ico) no-repeat 0 0; background-size: contain;" href="https://github.com/groovecoder" title="GitHub" rel="bookmark">GitHub</a>
                              <a style="background:url(/uploads/In-2C-14px.png) no-repeat 3px 3px;" href="https://www.linkedin.com/in/groovecoder/" title="LinkedIn" rel="bookmark">LinkedIn</a>
                              <a style="background:url(https://d1eu30co0ohy4w.cloudfront.net/assets/mark-f4be6df1e05965cac9f98e664a6c35f5ffdd0207385d07464a9214d6cdf76082.svg) no-repeat 0 3px; background-size: contain;" href="https://speakerdeck.com/groovecoder/" title="SpeakerDeck" rel="bookmark">SpeakerDeck</a>
                  </div>
      </div>
    </div>
  </div>
  <div id="sidebar">

<div id="text-6" class="widget widget_text"><h3 class="widgettitle">About</h3>      
    <p><img src="https://www.gravatar.com/avatar/ec25d046746de3be33779256f6957d8f?size=200" width="200" height="200" /></p>
    <div class="textwidget">
        Engineer for <a href="https://www.mozilla.org">Mozilla</a> working on Privacy &amp; Security; husband & dad; home-brewer; soccer fan. [<a href="/about">more</a>]</div>
    </div>
  </div><!-- end: #sidebar -->
</div><!-- end: #sidebar-border -->
</div><!--wrapper-->
<div class="clear"></div>
<div id="footer">
  <div id="footer-inside">
    <p>
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>groovecoder     | Powered by <a href="https://zww.me/archives/25131">zBench</a>    </p>
    <span id="back-to-top">&uarr; <a href="#" rel="nofollow" title="Back to top">Top</a></span>
  </div>
</div><!--footer-->
</body>
</html>
